*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
.clr {
    clear: both;
}

/*============ typed css ============*/
.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*============ back to top button ============*/
.back-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    display: none;
}
.back-top i {
    width: 40px;
    height: 40px;
    background: purple;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
/*=============== Menubar Part Start ================*/
.main-menu{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all linear .4s;
}
.menu2 {
    background: rgba(0, 0, 0, 0.8);
    animation: menu 1s;
}
@keyframes menu{
    from{top: -100px}
    to{top: 0}
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.logo {
    width: 170px;
    line-height: 90px;
    float: left;
}
.menu {
    width: 1000px;
    float: left;
    text-align: right;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a{
    padding: 0 22px;
    line-height: 90px;
    font-family: 'Roboto Condensed';
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    transition: all linear .3s;
}
.menu ul li:last-child a {
    padding-right: 0;
}
.menu ul li a:hover {
    color: #28b8d8;
}
/*=============== banner Part Start ================*/
#banner {
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 330px;
    padding-bottom: 252px;
}
.banner-text {
    text-align: center;
}
.banner-text h1 {
    font-size: 50px;
    color: #fff;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    text-transform: uppercase;
}
.banner-text h3 {
    font-size: 40px;
    color: #fff;
    font-family: 'Roboto Slab';
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1;
}
.banner-text p {
    font-size: 14px;
    color: #fff;
    font-family: 'Roboto Slab';
    font-weight: 300;
    padding-top: 11px;
}
/*=============== About Part Start ================*/
#about {
    padding-top: 80px;
}
.about-text {
    text-align: center;
}
.about-text h2 {
    font-size: 30px;
    font-family: 'Roboto Slab';
    font-weight: 300;
    color: #444;
}
.about-text p {
    font-family: 'Roboto';
    font-size: 14px;
    color: #666;
    font-weight: 400;
    padding-top: 21px;
}
/*=============== Service Part Start ================*/
#service {
    padding-top: 80px;
    padding-bottom: 84px;
}
.heading {
    text-align: center;
    padding-bottom: 30px;
}
.heading h2 {
    font-size: 18px;
    color: #444;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    text-transform: uppercase;
}
.service-item {
    width: 338px;
    border: 1px solid #e3e3e3;
    padding: 15px;
    margin-right: 30px;
    float: left;
    box-sizing: border-box;
}
.service-item img {
    width: 100%;
}
.service-text {
    text-align: center;
}
.service-text h3 {
    font-family: 'Roboto Slab';
    font-size: 17px;
    color: #444;
    font-weight: 700;
    padding-top: 17px;
}
.service-text p {
    font-family: 'Roboto';
    font-size: 14px;
    color: #666;
    font-weight: 400;
    padding-top: 6px;
    padding-bottom: 8px;
    line-height: 22px;
}
.service-item:last-child {
    margin-right: 0;
}
/*=============== Portfolio Part Start ================*/
#portfolio{
    background: #2c2c2c;
}
.heading-2 {
    text-align: center;
    padding-top: 51px;
    padding-bottom: 45px;
    
}
.heading-2 h2 {
    font-size: 18px;
    color: #fff;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}
.heading-2 h2::before {
	position: absolute;
	content: '';
	width: 100px;
	height: 1px;
	background: #535353;
	left: -115px;
	top: 10px;
}
.heading-2 h2::after {
	position: absolute;
	content: '';
	width: 100px;
	height: 1px;
	background: #535353;
	right: -115px;
	top: 10px;
}
.portfolio-item {
    width: 25%;
    float: left; 
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.51);
    opacity: 0;
    transition: all linear .3s;
}
.portfolio-item:hover .overlay {
    opacity: 1;
}
.overlay i {
    color: #fff;
    font-size: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.portfolio-item img{
    width: 100%;                 
}
.portfolio-btn {
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
}
.portfolio-btn a {
    font-family: 'Roboto';
    font-size: 14px;
    color: #a6a6a6;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #797979;
    padding: 18px 20px;
}
/*=============== Journal Part Start ================*/
.heading-3 h2 {
    color: #444;
}
.journal-item {
    width: 370px;
    border: 1px solid #e3e3e3;
    margin-right: 30px;
    float: left;
    box-sizing: border-box;
}

.mr-none {
    margin-right: 0!important;
}
.journal-top {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 22px;
}
.journal-top h3 {
    font-family: 'Roboto Slab';
    color: #444;
    font-size: 16px;
    font-weight: 700;
}
.journal-top p {
    font-family: 'Roboto';
    font-size: 12px;
    color: #999;
    font-weight: 400;
    padding-top: 13px;
}
.journal-btm {
    padding: 0 26px;
    padding-bottom: 24px;
}
.journal-btm p {
    font-family: 'Roboto';
    font-size: 14px;
    color: #666;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 24px;
    line-height: 22px;
}
.journal-btm a{
    font-family: 'Roboto';
    font-size: 11px;
    color: #999;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #28b8d8;
}
.journal-btm span {
    float: right;
    font-family: 'Roboto';
    font-size: 11px;
    color: #999;
    font-weight: 400;
    line-height: 26px;
}
/*=============== little about Part Start ================*/
.little-left {
    width: 570px;
    float: left;
}
.little-left .heading-2{
    text-align: left;
}
.little-left .heading-2 h2:before{
    display: none;
}

.little-img {
    width: 198px;
    float: left;
    margin-right: 27px;
}
.little-text {
    width: 345px;
    float: left;
}
.little-text h4{
    font-family: 'Roboto Slab';
    color: #666;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}
.little-text p{
    font-family: 'Roboto';
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 22px;
}
.little-right {
    float: left;
    width: 560px;
    margin-left: 10px;
}
.little-right .heading-2{
    text-align: left;
}
.little-right .heading-2 h2:before{
    display: none;
}
.more-serv-left {
    width: 40px;
    float: left;
    margin-right: 24px;
}
.more-serv-right {
    width: 494px;
    float: left;
}
.more-serv-right h3{
    font-family: 'Roboto Slab';
    color: #444;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
}
.more-serv-right p{
    font-family: 'Roboto';
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 12px;
    padding-bottom: 28px;
}

/*=============== Video Part Start ================*/
#video {
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px 0;
    position: relative;
}
#video:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.54);
}
.video-icon {
    text-align: center;
    position: relative;
    z-index: 99;
}
.video-icon i {
    color: #fff;
    font-size: 70px;
}
/*=============== counter Part Start ================*/
#counter1 {
    padding-top: 50px;
}
#counter2 {
    padding-bottom: 115px;
    padding-top: 50px;  
}
.counter-item {
    width: 25%;
    float: left;
    text-align: center;
}
.counter-item h2 {
    color: purple;
    font-size: 40px;
    font-weight: 700;
}
.counter-item h3 {
    color: #666;
    font-size: 30px;
    font-weight: 700;
}
/*=============== Footer Part Start ================*/
#footer {
    background: #373737;
    padding-top: 70px;
}
.footer-item {
    width: 258px;
    float: left;
    margin-right: 40px;
}
.footer-head {
    padding-bottom: 33px;
}
.footer-head h3 {
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 25px;
    color: #f0f0f0;
}
.footer-head p {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #cacaca;
}
.f-left {
    float: left;
    width: 28px;
}

.f-right {
    float: left;
    width:230px;
}
.f-left i {
    color: #cacaca;
    font-size: 14px;
}
.f-right span{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #cacaca;
    padding-right: 30px;
}
.footer-content {
    padding-bottom: 10px;
}
.f-head2 p {
    padding-bottom: 33px;
}
.f-head2 b{
    display: block;
}
/*=============== copyright Part Start ================*/
#copyright {
    background: #333333;
}
.copyright p{
    line-height: 90px;
    font-family: 'Roboto';
    font-size: 14px;
    color: #cacaca;
    font-weight: 400;
}
/*=============== Menubar Part Start ================*/
/*=============== Menubar Part Start ================*/
/*=============== Menubar Part Start ================*/
/*=============== Menubar Part Start ================*/
/*=============== Menubar Part Start ================*/
/*=============== Menubar Part Start ================*/
/*=============== Menubar Part Start ================*/
/*=============== Menubar Part Start ================*/
/*=============== Menubar Part Start ================*/
/*=============== Menubar Part Start ================*/
/*=============== Menubar Part Start ================*/
/*=============== Menubar Part Start ================*/
/*=============== Menubar Part Start ================*/
/*=============== Menubar Part Start ================*/
/*=============== Menubar Part Start ================*/